body{
    margin: 0;
    font-family: sans-serif;
}

.container{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
}

.header{
    text-align: center;
    margin: 20px 0 10px 0;
}

.header h1{
    text-align: center;
    margin: 0 0 10px 0;
}

.container_body{
    margin: auto;
    max-height: 100%;
    background-color: rgb(127, 157, 228);
    position:relative;
    background-size: contain;
    background-position: center center;
}

#initialImage{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-position: center center;
}

#ProccesedImage{
    position: absolute;
    padding-left: 30%;
    float:right;
    background-size: contain;
    background-position: center center;
}